.title {
  margin: 40px 0px 30px 5px;
  border-bottom: 1px solid #ddd;
}

.title h4 {
  font-weight: 400;
}

.slider-bar {
  margin-top: 30px;
  margin: 0;
  overflow: auto;
}

.slider-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-bar ul a {
  display: block;
  margin-top: -1px;
  /* Prevent double borders */
  padding: 10px;
}

.slider-bar ul a.current {
  background-color: #cfcfcf;
  color: black;
}

.slider-bar ul a:hover:not(.current) {
  cursor: pointer;
  background-color: #cfcfcf;
  color: black;
}

@media screen and (max-width: 700px) {
  .slider-bar {
    width: 100%;
    height: auto;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  .slider-bar li {
    text-align: center;
    float: none;
  }
}
