@charset "UTF-8";
.title-head-section {
  margin-bottom: 40px;
}

.title-head-section h2 {
  padding: 0px 50px 0px 50px;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  background-image: url(../image/background/title_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 567px) {
  .title-head-section h2 {
    font-size: 22px;
  }
}

/*
    Đường dẫn
*/
#breadcrumb {
  padding: 120px 50px;
  background-image: url(../image/background/Banner3_X-1920x670.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#breadcrumb li {
  display: inline;
}

#content {
  padding: 80px 50px;
}

#content form {
  margin-top: 3em;
  max-width: 567px;
}

#content form input {
  height: 50px;
  border-radius: 1.5em;
}

@media (max-width: 567px) {
  #content form input #content h1 {
    font-size: 26px;
  }
}

#content form .custom-checkbox {
  text-align: left;
  margin-left: 15px;
}

#content form .custom-checkbox input {
  height: 18px;
  border-radius: 1.5em;
}

@media (max-width: 567px) {
  #content form .custom-checkbox input #content h1 {
    font-size: 26px;
  }
}

#content form .border-red {
  border: 1px solid red;
}
